# Dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log

# Env files
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Logs
logs/
*.log

# OS specific
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/
uploads/
output/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo